source "${ZEPHYR_BASE}/share/sysbuild/Kconfig"

config TINYML_DUAL_CORE_DSP
	bool "Enable dual-core DSP offload (cpuapp + cpunet)"
	default n

config TINYML_REMOTE_BOARD
	string "Remote board used for DSP service"
	default "nrf7002dk/nrf5340/cpunet" if BOARD_NRF7002DK_NRF5340_CPUAPP
	default "nrf5340dk/nrf5340/cpunet" if BOARD_NRF5340DK_NRF5340_CPUAPP
